body{
    background-color: violet;

}

.container{

    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    padding-bottom: 10px;
    height: 70vh;
    width: 50vh;
    margin: auto;
}
.btn{
    padding: 4px 8px;
    background-color: wheat;
    border-radius: 4px;
    font-size: large;
}

#counter{
    font-size: 100px;
}